<div class="h-screen flex justify-center px-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl w-full">
    <div class="col-span-1 bg-white rounded-lg shadow-md p-4">
      <%= render 'users/pages/activity' %>
    </div>

    <div class="col-span-1 bg-white rounded-lg shadow-md p-4">
      <%= render 'users/pages/events' %>
    </div>
    
    <div class="col-span-1 bg-white rounded-lg shadow-md p-4">
      <%= render 'users/pages/chat' %>
    </div>
  </div>
</div>