<div class="-mx-3">
  <div class="relative min-h-screen">
    <video src="https://media.playyourcourt.com/videos/lander-video.mp4" class="absolute z-0 w-full h-full object-cover" autoplay loop muted></video>
    
    <div class="relative z-10 bg-opacity-80 bg-brown-900 min-h-screen flex flex-col">
      <header class="flex justify-between items-center p-4">
        <div class="flex-shrink-0">
          <%= link_to root_path do %>
            <img class="h-8 w-auto" src="https://media.playyourcourt.com/images/pyc-logo-yellow.png" alt="Play Your Court">
          <% end %>
        </div>
        <nav class="hidden md:flex space-x-4">
          <a href="#" class="text-pyc-yellow-300 hover:text-pyc-yellow-100">TAKE LESSONS</a>
          <a href="#" class="text-pyc-yellow-300 hover:text-pyc-yellow-100">FIND PARTNERS</a>
          <a href="#" class="text-pyc-yellow-300 hover:text-pyc-yellow-100">PLAY MATCHES</a>
          <a href="#" class="text-pyc-yellow-300 hover:text-pyc-yellow-100">SHOP GEAR</a>
          <a href="#" class="text-pyc-yellow-300 hover:text-pyc-yellow-100">EXPLORE MORE</a>
        </nav>
        <div class="space-x-2">
          <%= link_to "LOG IN", new_user_session_path, class: "bg-transparent border border-pyc-yellow-300 text-pyc-yellow-300 px-4 py-2 rounded-full hover:bg-pyc-yellow-300 hover:text-black" %>
          <%= link_to "SIGN UP", new_user_registration_path, class: "bg-pyc-yellow-300 text-brown-900 px-4 py-2 rounded-full hover:bg-pyc-yellow-400 hover:text-black" %>
        </div>
      </header>

      <main class="flex-grow flex items-center justify-center">
        <div class="text-center p-8">
          <div class="subtitle-bg-wrapper mb-4">
            <span class="subtitle-bg-label subtitle-bg-yellow text-xs">THE #1 TENNIS COMMUNITY IN THE U.S.</span>
          </div>
          <h1 class="text-pyc-yellow-300 text-6xl font-bold mb-4">MEET THE<br>NEW-SCHOOL<br>TENNIS CLUB</h1>
          <p class="text-pyc-yellow-300 text-lg mb-8">Take lessons, find partners, play matches, watch video coaching and get exclusive gear discounts - all in one place</p>
          <div class="space-x-4">
            <button class="bg-pyc-yellow-300 text-brown-900 px-6 py-3 rounded-full text-lg font-semibold hover:bg-pyc-yellow-400">BOOK A LESSON</button>
            <button class="bg-transparent border border-yellow-300 text-yellow-300 px-6 py-3 rounded-full text-lg font-semibold hover:bg-yellow-300 hover:text-black">FIND PRACTICE PARTNERS</button>
          </div>
          <a href="#" class="block text-pyc-yellow-300 mt-4 hover:underline">EXPLORE OUR MEMBERSHIP ></a>
        </div>
      </main>
    </div>
  </div>
</div>