<menu class="space-y-4">
  <li><%= link_to 'Home', root_path, class: 'text-lg font-medium hover:text-gray-600' %></li>
  <li><%= link_to 'About', about_path, class: 'text-lg font-medium hover:text-gray-600' %></li>
  <li><%= link_to 'Services', services_path, class: 'text-lg font-medium hover:text-gray-600' %></li>
  <li><%= link_to 'Contact', contact_path, class: 'text-lg font-medium hover:text-gray-600' %></li>
</menu>
