/* Application styles */

.user-initials {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f2f65f;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}